<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <title>Edit</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/home/new"> Create/New</a></li>
        </ul>
    </header>
    <h1 class="pt-5">Edit Player: <%= players.name %></h1>
    <form action="/home/<%= players._id; %>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%=players.name%>"/><br />
        Date of Birth: <input type:="date" name="dob" value="<%=players.dob%>" /><br />
        Nationality: <input type:="text" name="nationality" value="<%=players.nationality%>"/><br />
        Image: <input type:="url" name="img" value="<%=players.img%>"/><br />
        Position: <input type:="text" name="position" value="<%=players.position%>"/> <br /> 
        Team: <input type="text" name="team" value="<%=players.team%>" /><br /> 
        Number: <input type="number" name="number" value="<%=players.number%>" /><br />
        Overall: <input type="number" name="overall"value="<%=players.overall%>" /> <br /> 
        <input type="submit" name="" value="Submit" />     
    </form>
    
</body>
</html>